/*Global*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;

}

/*giving background color as grey*/

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */

button,
strong {
    text-transform: uppercase;
    width: auto;
    height: auto;
}

/* APP BAR */

/*APP Bar styling*/

.chat {
    background-color: #3F51B5;
    color: white;
    height: 66px;

}

/*APP BAR- chatter|app font styling*/

.chat h1 {
    font-size: 20px;
    font-weight: normal;
}

/*APP BAR-Moocus, the chatty duck positioning*/

#channels > .chat img {
    position: absolute;
    left: 20px;
    top: 10px;
}

/*APP BAR-chatter|app positioning*/

#chatbar {
    position: absolute;
    left: 80px;
    top: 20px;
}

/*APP BAR-Messages App Bar positioning*/

#channelbar {
    position: absolute;
    top: 20px;
}

/*APP BAR-Messages App Bar Star Image positioning*/

.chat #channelbarimage {
    position: absolute;
    top: 20px;

    right: 0;
}
/* #4 #sweat #channels */

/*Channel List positioning to left*/

#channels {

    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: white;
}

/*Messages list positioning to right*/

#chat {

    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;

}

/* Position your channel list below the app-bar and above the tab-bar. Now, only the channel list should #scroll*/

#channellist {
    overflow: auto;
    height: 80%;
}

/* Position your message list below the app-bar and above the tab-bar. Now, only the channel list should #scroll*/

#channelmessages {
    overflow: auto;
    height: 80%;
}

/* CHANNELS LIST */

ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: #FFFFFF;
    /* #3 #channels #bullets removed */
    list-style-type: none;
    /* height: 81%;*/
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;

}

/* #4 active #channel is #highlighted */

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/*Star and Arrow images in Channels list positioning*/

.channel-meta {
    vertical-align: middle;
    float: right;
}

/* TAB BAR */

/* tab-bar, emoji button ,chatbar styling */

#tab-bar,
#chat-bar,
#emojis-button {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* #4 add styles to #tab-bar #buttons - CENTERING buttons*/

#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;
    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;

}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */

#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */

#tab-bar button.selected {
    color: #3F51B5;
}


/* MESSAGES */

/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */

.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}

/*metadata positioning*/

.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/*Time in messages positioning*/

.message h3 em {
    font-size: larger;
    font-style: normal;
    min-width: 100px;
    max-width: 100px;

}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}

/*messages styling*/

.message p {
    background-color: white;
    padding: 16px;

}

/*messages styling*/

.message .minbutton {
    background-color: white;

}

/* +5min button styling*/

.message p span {

    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 8px;
    left: 8px;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
}

/* #4 left align own #messages using #margins */

.message.own {
    margin-left: 17.5%;
}

/*emoji button styling*/

#chat-bar button {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: none;
    height: 72px;
    padding: 16px;
}

/*emojis list displaying*/

#emojis {
    background-color: white;
    border: 1px solid black;
    font-size: 28px;
    padding: 16px;
    text-align: left;
    overflow: scroll;
    margin-left: 16px;
    position: absolute;
    bottom: 55px;
    max-width: 40%;


}